/* Estilização do corpo da página */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

/* Estilização do contêiner principal */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilização do título principal */
h1 {
    margin-bottom: 20px;
}

/* Estilização do subtítulo */
h4 {
    color: #0056b3;
}

/* Estilização do formulário */
form {
    display: flex;
    flex-direction: column;
}

/* Estilização dos campos de entrada */
input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilização do botão */
button {
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilização do botão ao passar o mouse */
button:hover {
    background-color: #0056b3;
}

/* Estilização do parágrafo de resultado */
#resultado {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: red;
}
